$mobile-width: 768px;
$desktop-width: 1200px;
$primary-color-1: #1641e5; /* blue */
$primary-color-2: #f40606; /* red */
$primary-color-3: #011e40; /* dark blue */

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin zero-margin-padding {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
   -webkit-margin-after: 0;
   -webkit-margin-start: 0;
     -webkit-margin-end: 0;
}

body {
  font-family: Lato, sans-serif;
  @include zero-margin-padding;
}

.enterprise-header {
  position: relative;
  background-color: #fff;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  @include mobile {
    padding: 10px 0 0 0;
    &::before {
      content: '';
      width: 1px;
      height: 68px;
      background: #d8d8d8;
      position: absolute;
      top: 17px;
      right: 85px;
    }
  }

  /* Reset */

  * {
    box-sizing: border-box;
    @include zero-margin-padding;
  }

  /* Inner container */

  .enterprise-header__inner {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  /* Brand */

  .enterprise-header__brand {
    float: left;
    @include desktop {
      padding-top: 10px;
      padding-left: 15px;
    }
    @include mobile {
      float: none;
      padding: 10px 0 0 10px;
      height: 90px;
    }
    .brand-logo {
      height: 50px;
    }
  }

  /* Navigation Links */

  .navigation {
    /* transition: 0.5s ease; */
    @include desktop {
      display: block;
      float: right;
    }
    @include mobile {
      background-color: blue;
      display: none;
      float: none;
    }
    &.expanded {
      /* empty */
    }
    .main-nav {
      list-style-type: none;
      font-size: 0; /* hack to remove spaces between inline elements */
      @include mobile {
        padding: 40px 20px;
        clear: both;
      }
      .main-nav__item {
        position: relative;
        display: inline-block;
        &:hover {
          transition: all 0.2s ease-in;
        }
        @include mobile {
          display: block;
          margin: 0px 0px 40px 0px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
        @include desktop {
          margin: 0 15px;
        }
        a {
          position: relative;
          text-decoration: none;
          transition: all 0.2s ease-in;
          font-weight: 900;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          @include desktop {
            font-size: 11px;
            color: $primary-color-3;
            display: block;
            line-height: 69px;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: transparent;
              bottom: 0px;
              left: 0px;
              transition: all 0.2s ease-in;
            }
            &:hover {
              color: $primary-color-1;
              &::after {
                background-color: $primary-color-2;
              }
            }
          }
          @include mobile {
            display: inline;
            color: #fff;
            font-size: 18px;
            &:hover {
              color: $primary-color-2;
            }
          }
          &.give-now {
            @include desktop {
              background-color: #f2f2f2;
              line-height: 45px;
              padding-left: 15px;
              padding-right: 15px;
              color: $primary-color-1;
              &:hover {
                color: #fff;
                background-color: $primary-color-1;
              }&::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  /* Navigation Menu Toggle */

  .enterprise-header__menu-toggle {
    display: none;
    float: right;
    padding: 5px;
    font-size: 16px;
    font-family: Lato, sans-serif;
    @include mobile {
      display: block;
      position: absolute;
      top: 25px;
      right: 20px;
    }
    .nav-show { display: none; text-decoration: none; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
    .nav-show .nav-show-text { font-size: 9px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.2em; color: #273fd8; position: absolute; top: 100%; left: 0; margin: 3px 0 0 -1px; }
    .nav-show .active-text { display: none; }
    .nav-show .nav-show__icon { position: relative; display: inline-block; width: 32px; height: 32px; border: 2px solid #273fd8; transition: width .2s; text-align: center; }
    .nav-show .nav-show__icon-inner { display: inline-block; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); position: relative; width: 10px; height: 10px; position: relative; }
    .nav-show .nav-show__icon-inner span { position: absolute; display: block; height: 2px; background: #273fd8; transition: top .2s .25s, opacity .2s .25s, width .2s, -webkit-transform .2s 0s; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s, width .2s; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s, width .2s, -webkit-transform .2s 0s; }
    .nav-show .nav-show__icon-inner span:nth-child(1) { top: 0; width: 7px; }
    .nav-show .nav-show__icon-inner span:nth-child(2) { top: 4px; width: 10px; }
    .nav-show .nav-show__icon-inner span:nth-child(3) {top: 8px; width: 4px; }
    .nav-show.active .nav-show-text { display: none; }
    .nav-show.active .nav-show-text.active-text { display: inline-block; }
    .nav-show.active .nav-show__icon-inner span {transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s; }
    .nav-show.active .nav-show__icon-inner { width: 18px; height: 18px; margin: 2px 0 0 -6px; }
    .nav-show.active .nav-show__icon-inner span:nth-child(3),
    .nav-show.active .nav-show__icon-inner span:nth-child(1) { top: 12px; width: 18px; }
    .nav-show.active .nav-show__icon-inner span:nth-child(2) {opacity: 0; }
    .nav-show.active .nav-show__icon-inner span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
    .nav-show.active .nav-show__icon-inner span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
    .nav-show { display: inline-block; }
  }
}

.is-displayed-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
@include mobile {
  .is-hidden-mobile {
    display: none;
  }
}

.intro {
  height: 120px;
  background-color: $primary-color-3;
  @include desktop {
    height: 120px;
    background-color: $primary-color-3;
  }
  @include mobile {
    height: 100px;
  }
  * {
    @include zero-margin-padding;
  }
  .intro__inner {
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0 15px;
    .intro__title {
      font-weight: normal;
      padding-top: 50px;
      color: #fff;
      @include desktop {
        font-size: 32px;
      }
      @include mobile {
        font-size: 18px;
      }
    }
  }
}
